@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
      background-color: #141414;  
}

header {
    display: flex;
    justify-content: space-between;
    height: 78px;
}
header img{
    height: 48px;
    width: 136px;
    margin-top: 15px;
}
.menu{
    margin-top: 25px;
  
}
.menu a{
    font-family: 'Open Sans';
    font-weight: 400;
    margin-left: 83px;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    color: #ffff;
}
.contenedor{
    width: 92%;
    margin: auto;
}

.portada{
    
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
    height: 650px;
}
.portada-fondo{
    width: 100%;
    height: 100%;
     background-color: black;
    opacity: 50%; 
}
.texto-portada{
  transform: translateY(337px);
}
.portada .texto-portada h2{

    color: #ffff;
    font-size: 50px;
   font-family: 'Open Sans';
   font-weight: 600;
   opacity: none;
}
.portada .texto-portada p{
    color: #ffff;
    font-family: 'Open Sans';
    font-weight: 400;
    width: 796px;
    font-size: 20px;
    height: 92px;
    line-height: 32px;
    opacity: none;
}
.botones-portada{
    margin-top: 30px; 
}
.botones-portada a{
    background:rgba(0, 0, 0, .60);
text-decoration: none;
font-size: 20px;
color: #ffff;

opacity: none;
border-radius: 5px;
padding: 15px 30px;
}
.botones-portada a:hover{
    background: rgba(255, 255, 255, .60);
    color: #000000;
}
.botones-portada i{
    margin-right: 20px;
}
.a-separacion {
margin-left: 11px;
}
/*-------------------------contenedor de titutlo y controles-------*/
.contenedor-titulo-controles{
     margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h3{
    color:#fff;
    font-size: 30px;
} 
.contenedor-titulo-controles .indicadores button{
    background: #ffff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border:none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}
/*-----------------contenedor principal y flechas -------------->*/
.peliculas-recomendadas{
    margin-bottom: 70px;
}
.peliculas-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #ffff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover{

    background: rgba(0, 0, 0, .9);

}
.peliculas-recomendadas .contenedor-principal .flecha-izquierda{
    left: 0;
}
.peliculas-recomendadas .contenedor-principal .flecha-derecha{
    right: 0;
}

/*-------------- Carousel -----------*/
.peliculas-recomendadas .contenedor-carousel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
     min-width: 20%;
     transition: .3s ease all;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
transform: scale(1.2);
transform-origin: center;
}
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}
.mensaje-responsive{
    display: none;
}

@media  screen and ( max-width: 800px){
 main{
     display: none;
 }
.menu{
    display: none;
}
.mensaje-responsive{
    margin-top:90px;
    display: block;
}
.mensaje-responsive h3, p{ 
    font-size: 40px;
   color:#fff ; 
   text-align: center;
}
.mensaje-responsive button{
    display: block;
    margin: 20px  auto;
    background: #E60914;
    border: none;
    color:#fff ;
    font-size: 20px;
    padding: 15px 40px;
}
}
 